[2015-09-21 14:20] lem9 opened #14 "Offer just the latest theme version for a specific phpMyAdmin version"
On https://www.phpmyadmin.net/themes/ we see for example three metro versions compatible with phpMyAdmin 3.5, but we should only see the latest one.

[2015-09-28 16:46] kenny-evitt opened #15 "Remove or clarify statement about asking questions on Stack Overflow on support page"
[Here's the live support page.](http://www.phpmyadmin.net/support/) Here's the relevant statement:

This should be, at the least, clarified as not all questions pertaining to phpMyAdmin are on-topic (and therefore welcome) at Stack Overflow. See the following question on the meta Stack Overflow site for details about the suitability of sending your users to Stack Overflow for all support questions

[2015-09-28 17:01] lem9 commented on #15
Thanks Kenny for your insight. Maybe we could also direct users to http://webapps.stackexchange.com/?  By the way, you wrote that we "lazily" pointed users to stackoverflow but in reality, in 2013 we just pointed users to the place where most users were already asking questions about phpMyAdmin.

[2015-09-28 19:44] GRMule commented on #15
Here is a policy page from Stack Overflow that details best practice for directing your users to SO for support: http://stackoverflow.com/help/product-support

"Lazily" might be a strong term, but it does smell a little lazy to send people to a place where the their questions will not be well-received because they're off topic. Phrased differently, and linking to the right place, it's fine. Throwi

[2015-09-28 21:32] kenny-evitt commented on #15
@lem9 I just updated [my answer](http://meta.stackoverflow.com/a/306985/173497) to the Meta Stack Overflow question and I'm sorry for any slight taken by my use of "lazily".

I think you should suggest users pose questions by submitting issues on GitHub. I know it's work to sort thru them to stay on top of the significant issues, but your users should have a venue for questions apart from SO or an

[2015-09-28 21:34] kenny-evitt commented on #15
@lem9 And in the interest of not *just* complaining about something, I'll happily submit a PR with whatever changes you think are appropriate :smile:

[2015-09-29 14:09] lem9 commented on #15
I started an internal discussion about our support offer.

[2015-09-29 15:04] kenny-evitt commented on #15
@lem9 Great

[2015-12-03 13:27] #15 closed

[2015-12-03 22:23] kenny-evitt commented on #15
@lem9 Thanks!

[2015-12-27 10:42] #14 closed

[2016-01-13 13:09] lem9 opened #17 "Suggesting a donation on download"
As discussed on https://github.com/phpmyadmin/phpmyadmin/wiki/2016-01_Meeting#suggesting-a-donation-amount we would display "We hope you enjoy phpMyAdmin. Please consider donating to support our development (suggested amount: 10 USD)." after a download (either on the download button or links).

[2016-07-26 12:47] nijel opened #18 "Add support for metalink"
It might be useful to have support for metalink for downloads. The good thing on it is that it can include checksums and PGP signature for automated checking. The bad thing is that there doesn't seem to be client to implement PGP verification, so we're only back to checksums (and SHA-256 is mostly not supported as well).

See https://en.wikipedia.org/wiki/Metalink

This really needs decision wheth

[2016-07-28 06:12] nijel opened #19 "Upgrade embedded libraries"
usage of old mootools (version: 1.2.1):
https://github.com/phpmyadmin/website/blob/bd438088a76c349845aab1e585413ad5c0e7602e/pmaweb/static/js/mootools.js
https://github.com/phpmyadmin/website/blob/bd438088a76c349845aab1e585413ad5c0e7602e/pmaweb/static/js/mootools-more.js

latest version is 1.6.0
http://mootools.net/
http://mootools.net/more

slimbox 1.6.4
https://github.com/phpmyadmin/website/blob/

[2016-07-28 06:13] nijel opened #20 "Missing validation of hash variable (come from URL)"
The hash variable which come from URL passed to show_theme function which use $$ function (parameter used as SELECTOR)
https://github.com/phpmyadmin/website/blob/bd438088a76c349845aab1e585413ad5c0e7602e/pmaweb/static/js/utils.js#L29
while SELECTOR Injection is probably no security issue in this case, it still recommended to validate the value (ensure contain only allowed chars)

[2016-07-28 06:28] nijel opened #21 "Add links validation and https upgrade command"
We should add management command, which would go through all links inside database and check them:

* Report broken links
* Report links which use http while they should use https
* Optionally upgrade http links to https

[2016-07-28 06:44] nijel commented on #18
Quoting Emanuel Bronshtein, who originally reported this:

[2016-07-29 12:42] #20 closed

[2016-07-29 13:24] nijel commented on #19
After quick look, the latest slimbox support mootools 1.3, while the latest version is 1.6, so we really can not upgrade fully.

[2016-07-29 14:37] nijel commented on #19
As I think our website needs some improvements as well (at least to make it responsive), I've started to change it to use Bootstrap. This is still work in progress, but basic things should work:

https://github.com/nijel/website/tree/bootstrap

[2016-08-03 15:32] nijel opened #23 "Document all milestone releases"
Currently https://www.phpmyadmin.net/about/ lacks latest releases, those should be added.

[2016-08-04 07:12] nijel opened #24 "Missing Verification Details"
There is no verification details in: (while "Quick download" link exists)
    https://www.phpmyadmin.net/files/

fix:

Add "Size" & "Verification" Columns to:

*        https://www.phpmyadmin.net/files/

as exists in "downloads" & "release" pages:

* https://www.phpmyadmin.net/downloads/
* https://www.phpmyadmin.net/files/4.6.3/

[2016-08-04 07:13] nijel opened #25 "Replace MD5 CheckSum with SHA1/SHA256"
The checksum used in themes download is MD5:
    https://www.phpmyadmin.net/themes/#all

for example:

    arctic_ocean-2.11a.zip (176.0 KB, MD5: 45837793bea6e05347e301b7d40946f8)
    metro-2.5.zip (1.5 MB, MD5: 8e20662416420f6e9bcf46ff683e44bc)

fix:
    use SHA1 or SHA256 instead, MD5 is broken [not secure anymore]

[2016-08-04 07:56] #24 closed

[2016-08-04 07:56] #25 closed

[2016-08-05 08:04] #23 closed

[2016-08-20 10:29] #17 closed

[2016-08-20 10:33] nijel commented on #19
PR merged.

[2016-08-20 10:33] #19 closed

[2016-08-29 11:19] madhuracj opened #27 "Missing commits"
As report by Emanuel Bronshtein,
missing commits in https://www.phpmyadmin.net/security/PMASA-2016-30/

[2016-09-16 13:34] nijel opened #29 "CSP improvements"
2) CSP Improvements (for WebSite)

https://www.phpmyadmin.net/ return the following CSP header:
    content-security-policy: default-src 'self'; script-src 'self' 'unsafe-inline' https://www.google-analytics.com/; img-src 'self' https://www.google-analytics.com/ https://www.paypalobjects.com/; style-src 'self' 'unsafe-inline'; child-src 'none'; object-src 'none'

2.1) Change Google Analytics loadi

[2016-09-16 13:45] nijel commented on #29
2) CSP Violations Issues in WebSite

On Chrome:

Visiting:
    https://www.phpmyadmin.net/downloads/

Result in Console:

Refused to load the image 'https://stats.g.doubleclick.net/r/collect?v=1&aip=1&t=dc&_r=3&tid=UA-2718724-14&cid=231898991.1468598139&jid=2067451453&_v=j44&z=2118007049' because it violates the following Content Security Policy directive: "img-src 'self' https://www.google-analyt

[2016-09-16 13:47] nijel opened #30 "Implement Custom Error Pages"
that will be used instead of nginx default error pages:
    https://www.phpmyadmin.net/static/A

Note: The custom error page is already there, it just needs to be used for static files as well.

[2016-10-15 09:10] madhuracj opened #32 "Missing Redirect to HTTPS from HTTP"
As report by Emanuel Bronshtein,

visiting over HTTP the following websites will not redirect to HTTPS:
- [x] http://admin.phpmyadmin.net
- [x] http://develdocs.phpmyadmin.net
- [x] http://reports.phpmyadmin.net/
- [x] http://planet.phpmyadmin.net/
- [x] http://klutz.phpmyadmin.net
- [x] http://ci.phpmyadmin.net/
- [x] http://hooks.phpmyadmin.net

[2016-10-15 09:11] madhuracj opened #33 "Missing HSTS header"
As report by Emanuel Bronshtein,

https://admin.phpmyadmin.net
https://klutz.phpmyadmin.net

[2016-10-15 09:11] madhuracj opened #34 "HTTPS to HTTP Redirect"
As report by Emanuel Bronshtein,

Visiting:
https://lists.phpmyadmin.net

Redirect to:
http://lists.phpmyadmin.net/mailman/listinfo

[2016-10-15 09:12] madhuracj opened #35 "Missing Security Headers: (CSP / X-Frame-Options / X-XSS-Protection / X-Content-Type-Options )"
As report by Emanuel Bronshtein,

https://lists.phpmyadmin.net
https://develdocs.phpmyadmin.net
https://reports.phpmyadmin.net/
https://planet.phpmyadmin.net/
https://hooks.phpmyadmin.net/

[2016-10-15 09:13] madhuracj opened #36 "Implement CSP & HPKP violation reporting"
As report by Emanuel Bronshtein,

I suggest to implement the following for *.phpmyadmin.net websites:
    \* 'Public-Key-Pins-Report-Only' header, more information:
        https://developers.google.com/web/updates/2015/09/HPKP-reporting-with-chrome-46?hl=en
        https://developer.mozilla.org/en/docs/Web/Security/Public_Key_Pinning
    \* report-uri directive in CSP headers, more information:

[2016-10-15 09:13] madhuracj opened #37 "HTTP links in planet.phpmyadmin.net"
As report by Emanuel Bronshtein,

in planet under 'Subscriptions' there is HTTP links:
    http://dan.ungureanu.me/gsoc-2015/atom.xml
    http://dan.ungureanu.me/gsoc-2015/
    http://blog.cihar.com/atom.xml
    http://blog.cihar.com/

probably caused by HTTP links in link tags from:
    https://blog.cihar.com/atom.xml
    https://dan.ungureanu.me/gsoc-2015/atom.xml

[2016-10-15 09:14] madhuracj opened #38 "Exposed old (not latest) PMA interface with setup"
As report by Emanuel Bronshtein,

https://admin.phpmyadmin.net/phpmyadmin/
Running PMA version: phpMyAdmin 4.2.12deb2+deb8u2
Version detected via SETUP export, see issue: https://github.com/phpmyadmin/phpmyadmin/issues/12469

fix:
    1. upgrade to latest PMA version. (may require upload to debian-stable? so might wait for 4.6.5?)
    2. it's better to change the folder to not-predictable name / s

[2016-10-17 12:34] nijel commented on #38
Okay, we should really follow best practices on our own server :-).

[2016-10-17 12:45] nijel commented on #38
Okay, I've changed setup:

- Setup and libraries are no longer exposed at all.
- I've fixed the PHP setup as this site was dead since upgrade to PHP 7.
- The phpMyAdmin is now available only on request and has to be enabled on the server.

The reason is that I don't think anybody uses this regularly (at least nobody did notice it's broken for few weeks).

[2016-10-17 12:45] #38 closed

[2016-10-17 12:50] nijel commented on #34
Fixed apache setup to use correct redirect.

[2016-10-17 12:50] #34 closed

[2016-10-17 12:58] nijel commented on #32
* For reports this is intentional setup to allow old clients to submit data.
* For hooks we first needs to check if we're not using http URL somewhere.
* For develdocs it's something what needs to be done at the CDN side (same issue is for www.phpmyadmin.net).

[2016-10-17 13:06] nijel commented on #32
I've reviewed all hooks on GitHub and switched them to https, so hopefully we're safe to fully switch to https there.

[2016-10-17 13:24] nijel commented on #32
I've just changed CDN setup on all hosts to make it consistent:

* Redirect to HTTPS
* Use letsencrypt certificates
* Use HTTPS for backend connection

[2016-10-17 13:43] nijel commented on #33
Now it's there (when admin.phpmyadmin.net is not configured to return 403).

[2016-10-17 13:43] #33 closed

[2016-10-17 13:57] nijel commented on #36
Given that we do not control SSL certificates for websites served by CDN (probably the most important ones), I'm not really sure we're in position to implement this in way it would be usable.

[2016-10-25 18:26] emanuelb commented on #32
For reports consider a redirect that black-list submit end-points (will redirect to HTTPS if the request-uri isn't /incidents/create) or redirect on non POST requests (as submissions done over POST)

[2016-10-25 18:58] nijel commented on #32
Thats indeed an option, thanks for suggestion!

[2016-10-28 21:31] madhuracj opened #39 "Exposing Apache Version"
As reported by Emanuel Bronshtein,

https://lists.phpmyadmin.net/icons/apache_pb2.png
https://lists.phpmyadmin.net/icons/

Apache/2.4.10 (Debian) Server at lists.phpmyadmin.net Port 80

fix:
    1. remove icons folder.
    2. add in apache configuration file:

[code]

[2016-11-01 15:31] domnulnopcea opened #40 "include a link to the github repo for the source of phpmyadmin"
include a link to the github repo for the source of phpmyadmin

it should be on the first page

[2016-11-01 15:45] nijel commented on #40
It's on the developers page: https://www.phpmyadmin.net/develop/

However having it on homepage sounds like an useful addition.

[2016-11-17 01:43] emanuelb opened #41 "Invalid certificate (domain mismatch) for mail.phpmyadmin.net"
Visit:
https://mail.phpmyadmin.net/
Result: (SSL Error)
[code]
fix:
use valid certificate for mail.phpmyadmin.net

[2016-11-17 08:48] nijel commented on #41
Fixed, the certificate has been already issued, just the web server configuration was wrong. Thanks for noticing this.

[2016-11-17 08:48] #41 closed

[2016-11-17 21:07] emanuelb opened #42 "Mixed content in planet.phpmyadmin.net"
Visit:
https://planet.phpmyadmin.net/
Result: (mixed content)

[2016-11-18 11:14] emanuelb opened #43 "Missing favicon.ico in develdocs.phpmyadmin.net"
Visit:
https://develdocs.phpmyadmin.net/
Result (in console)
[code]

[2016-11-18 11:49] nijel commented on #43
Something can be added to https://github.com/phpmyadmin/scripts/tree/master/develdocs/output

[2016-11-24 09:55] nijel commented on #43
Fixed in phpmyadmin/scripts@68eceeb180c29ad043eb415d87e25d909a0bb066

[2016-11-24 09:55] #43 closed

[2016-11-24 10:04] #40 closed

[2016-11-24 10:06] nijel commented on #39
Fixed.

[2016-11-24 10:06] #39 closed

[2016-11-24 10:16] nijel commented on #32
Now done for reports as well.

[2016-11-24 10:16] #32 closed

[2016-11-24 10:33] nijel commented on #27
Fixed.

[2016-11-24 10:33] #27 closed

[2016-11-28 20:34] emanuelb opened #45 "incorrect commits in security advisories"
in:
https://www.phpmyadmin.net/security/PMASA-2016-58/
The second commit "Use hash_equals for checking username" is not related to the issue

in:
https://www.phpmyadmin.net/security/PMASA-2016-42/
the commit https://github.com/phpmyadmin/phpmyadmin/commit/7ef96c5 return 404

in:
https://www.phpmyadmin.net/security/PMASA-2016-39/
Duplicate commits 5d427d6 & 80b03a4

[2016-11-30 10:23] nijel commented on #45
Thanks for spotting, fixed.

[2016-11-30 10:23] #45 closed

[2016-12-05 15:28] emanuelb opened #47 "Add Checksums for static files in packages.json"
in:
https://www.phpmyadmin.net/packages.json
apparently it's possible to use SHA1 verification in checksum field (non documented yet), more information:
https://github.com/composer/composer/issues/5940#issuecomment-264876267

fix:
1. add checksum field for all fields except dev-master (as it's dynamic)

[2016-12-05 16:04] emanuelb opened #48 "No mention of composer / docker installation in downloads/website"
The composer installation:
https://docs.phpmyadmin.net/en/latest/setup.html#installing-using-composer
And official docker image:
https://hub.docker.com/r/phpmyadmin/phpmyadmin/

not mentioned in the website at all / in downloads page at: (only in documentation)
https://www.phpmyadmin.net/downloads/

[2016-12-06 09:57] #47 closed

[2016-12-06 10:05] #48 closed

[2016-12-25 20:44] emanuelb opened #52 "Expired certificate in planet.phpmyadmin.net"
Expired certificate in planet.phpmyadmin.net, details:
[code]

[2016-12-25 20:47] ibennetch commented on #52
Thanks for reporting this.

The build script is also throwing an error as a result.

[2016-12-26 21:03] nijel commented on #52
Already fixed, the web server didn't pickup renewed certificates.

[2016-12-26 21:03] #52 closed

[2017-02-13 17:38] nijel opened #56 "Sync releases to GitHub"
Followup for https://github.com/phpmyadmin/phpmyadmin/issues/12796.

It would be nice to have release data and downloads on GitHub as well. Currently when somebody browses to https://github.com/phpmyadmin/phpmyadmin/releases he gets list of releases with links to our website.

The perfect solution would:

* Upload all files to GitHub as well
* Update release notes there based on content we have on

[2017-02-25 11:33] edwarddekker opened #57 "Missing a link to the Author at themes page"
At the themes page do I missing a direct link from the author who writes the theme. Underneath the author name can we create also a uri.

[2017-03-16 21:55] emanuelb opened #58 "Mention hardening label in security page"
in:
https://www.phpmyadmin.net/security/
Add note regarding issues related to security hardening/improvements/features etc.. can be searched using 'hardening' label and provide link to:
https://github.com/phpmyadmin/phpmyadmin/labels/hardening

[2017-03-16 22:04] emanuelb commented on #36
Sure, adding HPKP is relatively easy to accomplish (in-non-fatal-error-way) on the server that does SSL termination, there might be a option on CDN side (the one generating the certs) to enable HPKP.
The CSP reporting can be implemented easily using https://report-uri.io/

[2017-03-20 14:04] #58 closed

[2017-03-21 09:57] emanuelb opened #59 "Replace SHA1 checksums as they 'practically' broken"
The SHA1 hash was practically broken (regarding collision resistance), see:
https://shattered.io/
thus it's not recommended to use it in scenarios that relay on collision resistance.
Regarding PMA it's mean to remove it's usage as checksum for downloads.
(HMAC-SHA1 [cookie auth + github api] is still safe as it's security not depend on resistance to collisions)

fix:
1. remove SHA1 checksums usage

[2017-03-21 10:36] #59 closed

[2017-03-21 10:43] nijel commented on #59
I've removed displaying of SHA1 hashes. It can't be completely removed as it's necessary for composer package list (see https://github.com/composer/composer/issues/5940).

Also I don't think that introducing something else than SHA256 makes sense right now.

[2017-03-21 10:59] emanuelb commented on #59
more places to remove:
https://github.com/phpmyadmin/website/blob/bdea1b42ae4d15d832401ccf0b38eb407005831d/pmaweb/templates/_dlbox.html#L2

https://github.com/phpmyadmin/themes/blob/d77636525be8ff713fa67a3ad48f4e97f9d130ea/create-release.sh#L76
https://github.com/phpmyadmin/themes/blob/d77636525be8ff713fa67a3ad48f4e97f9d130ea/create-release.sh#L97

does all the below instances required for the add

[2017-03-21 11:09] nijel commented on #59
All the locations in files are needed to ensure everything works with composer (some of them cover corner cases which probably won't happen). I've kept the same code on themes as well right now to have consistent code for both files and themes. It's not used there, but IMHO it's better from maintenance perspective.

As for adding another checksums, I'd prefer to wait until either of these is widel

[2017-03-21 11:19] emanuelb commented on #59
agree, and using sha-256 is totally fine, even if sha-3/blake2 is better (and has the related tools in coreutils as well) :)

[2017-03-21 11:46] emanuelb opened #60 "missing credit in PMASA-2017-5 in References"
in:
https://www.phpmyadmin.net/security/PMASA-2017-5/
it's missing credit in "References" section.

fix:
Add credit as in PMASA-2017-4 to PMASA-2017-5

[2017-03-21 11:54] nijel commented on #60
Sorry for missing that, fixed now.

[2017-03-21 11:54] #60 closed

[2017-03-21 13:42] emanuelb opened #61 "Add CAA DNS Record for PMA websites when possible"
CAA DNS record used in order to specify which CA is allowed to generate certificates for domain, more information:
https://sslmate.com/labs/caa/

fix:
Add CAA record if possible (DNS provider support it) & target CA support it as well (letsencrypt has support https://community.letsencrypt.org/t/caa-setup-for-lets-encrypt/9893)

[2017-03-21 14:20] nijel commented on #61
Gandi does not support it right now. But still it doesn't matter whether you use CA supporting this, as long as there is single CA not supporting CAA the benefit of having it is not really that big.

[2017-03-21 14:57] emanuelb commented on #61
it's mitigate many external attacks (attacker exploit CA process to create certs which will fail CAA checks)
sure it doesn't help against malicious/totally-compromised CA.

I don't follow the CAB discussions, but it looks like they planning to make the checking mandatory for all CAs, see:
"[cabfpub] Start of Review Period for Ballot 187 - Make CAA Checking Mandatory"
https://cabforum.org/pipermail

[2017-04-12 16:05] nijel opened #62 "Adjust latest downloads to new release structure"
Since change in https://github.com/phpmyadmin/phpmyadmin/pull/12836, we're providing different download sets and download links introduced in https://github.com/phpmyadmin/website/commit/389ea3d49403ffce946f508ab3e0a6a700e9989e should be adjusted.

See also https://github.com/phpmyadmin/phpmyadmin/issues/11469#issuecomment-293599931

[2017-05-05 13:09] #62 closed

[2017-05-08 17:37] emanuelb opened #64 "unneeded /downloads/ in link text of stable download"
in:
https://www.phpmyadmin.net/downloads/#stable
the text of downloaded links startswith /downloads/ , example:

which also happen in Syndication links:
https://www.phpmyadmin.net/about-website/#syndicate

while the other download links on the download page don't contain the parent folder name in it, such as in:
https://www.phpmyadmin.net/downloads/#devel

[2017-05-09 09:37] #64 closed

[2017-05-09 15:32] nijel commented on #57
We currently do not have that data, but certainly this is something what should be included with the theme...

[2017-05-16 13:15] #57 closed

[2017-05-16 14:30] nijel commented on #57
It is now possible to specify such metadata directly in the theme: https://docs.phpmyadmin.net/en/latest/themes.html#theme-metadata

[2017-05-17 09:10] emanuelb opened #65 "empty box space in screenshots"
Visit:
https://www.phpmyadmin.net/try/
See 'empty space' under 'Server monitor' screen-shot:
![emptybox](https://cloud.githubusercontent.com/assets/1792055/26146643/9a83dad0-3af9-11e7-9e88-bab9eca87717.png)
Browser: FireFox, OS: Ubuntu

[2017-05-17 09:19] nijel commented on #65
Confirmed

[2017-05-28 12:15] TobiGr commented on #65
You have to add some `<div class="clearfix visible-xs-block visible-sm-block"></div>` and `<div class="clearfix visible-md-block visible-lg-block"></div>` at the end of each possible row for each different width. This should solve the problem. If you show me where, I can do a PR.

[2017-05-28 15:28] ibennetch commented on #65
Probably the affected file is https://github.com/phpmyadmin/website/blob/master/pmaweb/templates/try.html but I haven't looked at it too closely.

[2017-05-28 15:45] TobiGr commented on #65
We need a `.clearfix` after a width of `12`, which ends up in a structure like this:
[code]
We can replace `<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>` by `<div class="clearfix"></div>` because it's the same.
That means we have to add a `.clearfix` every two columns.

[2017-08-08 19:38] #65 closed

[2018-03-09 08:00] nijel commented on #61
As Gandi now supports this, I've just added the CAA records.

[2018-03-09 08:00] #61 closed

[2018-06-21 19:03] williamdes opened #73 "security RSS broken CVE links"
Open https://www.phpmyadmin.net/security/feed/

[code]

Decoded :

[code]

You can see that the link to the CVE contains the link to the CVE.

Seems to be because of :

https://github.com/phpmyadmin/website/blob/d38edf9fb5540a3467f266a30d1514661a2b45e7/security/models.py#L110

### Screenshots

#### Thunderbird
![selection_057](https://user-images.githubusercontent.com/7784660/41739746-5565b94a-759

[2018-06-26 19:33] #73 closed

[2018-07-25 19:17] BO41 opened #75 "missing meta description"
all pages of this website are missing a [meta description](https://developers.google.com/web/tools/lighthouse/audits/description)

"Meta descriptions may be included in search results to concisely summarize page content."
it is highly recommended to provide a unique description for each page.

This also improves SEO ratings

[2018-07-25 19:19] BO41 opened #76 "known security vulnerabilities"
Includes front-end JavaScript libraries with known security vulnerabilities

Some third-party scripts may contain known security vulnerabilities that are easily identified and exploited by attackers. [Learn more](https://developers.google.com/web/tools/lighthouse/audits/vulnerabilities)

Library Version | Vulnerability Count | Highest Severity
-- | -- | --
Bootstrap@3.3.7 | 1 | Medium
jQuery@2.2.4

[2018-07-25 19:25] BO41 opened #77 "Hide server version data"
**Avoid leaking information to attackers by removing response headers that say what software is running on your web server.**

Many web servers give the name and versions of software that were used to respond to a request within the response headers. For example, a server might respond with the header `Server: Apache/2.2.20 (Win32) PHP/5.3.10` when a page is requested. This can give hints to attac

[2018-07-25 19:27] BO41 opened #78 "redirection status codes"
there are more than 29 pages linked with a redirect returning a status code between 300 and 399.

and also 1 page with a 4xx code.

fixing this would improve the website overall

[2018-07-26 09:10] nijel opened #79 "Wrong link to a book"
Received by email:

[2018-07-26 09:11] nijel commented on #79
The link is same from 97abdf13, so I guess they have changed it. Maybe @lem9 has still some contacts there to investigate this?

[2018-07-26 09:20] nijel commented on #77
Do you have anything specific in mind? All I can see is `server: CDN77-Turbo` what is added by our CDN and does not really leak anything.

[2018-07-26 09:21] nijel commented on #78
Listing the problematic pages you have found would be helpful :-)

[2018-07-26 11:51] BO41 commented on #78
for some reason I am not able to upload files :(
(the lists are automatically generated)

this is a list of connection errors
https://pastebin.com/5N7siy1k

here are broken urls
https://pastebin.com/0wWeEn1u

and here some 3xx redirects
https://pastebin.com/yUhBLsHC

the 4xx was a unauthorized, so sorry for mentioning it

[2018-07-26 11:54] BO41 commented on #77
okay, that's the only thing I see too.

I think this is no problem, thanks for taking your time :)

[2018-07-26 11:54] #77 closed

[2018-07-26 12:03] nijel commented on #78
I can't reproduce the errors on files.phpmyadmin.net, maybe you just did the test too aggressively and the CDN did apply some kind of DOS protection against you...

[2018-07-26 12:50] BO41 commented on #78
this is totally an option. never tested sites with a CDN.

then just look through the list and if you don't see a problem just close this issue and forget it :)

[2018-10-05 05:02] Peps03 opened #81 "PhpMyAdmin copy database function giving mysqli_query(): Empty query Warning"
Trying to copy a database in PhpMyAdmin via "Operations > Copy database to".

Settings: copy structure and data and CREATE DATABASE before copying unchecked as the database to copy to already exists.

PhpMyAdmin, DirectAdmin, PHP7.2 & MariaDB: all most recent versions.

Getting error:
[code]

[2018-10-08 16:07] mauriciofauth commented on #81
I could not reproduce that. Does this happen with any database or only with a specific one?

[2018-10-09 15:13] Peps03 commented on #81
Not sure if it happens with any, didn't test all, but it happens with all i try it with. Which are several.

[2018-11-13 19:25] ibennetch opened #82 "Daily builds not updating due to Composer errors"
The daily snapshot build for QA_4_8 isn't building (master seems to be okay). This output is generated:

[code]

Seems to be caused by https://github.com/phpmyadmin/phpmyadmin/commit/8a7d18df9ceeaf5c40271e80fb06b3f16a822620#diff-9ae6a61e1603c6b8906021473d5c57faL238

[2018-11-13 19:27] #82 closed

[2018-11-14 01:45] #79 closed

[2018-11-14 01:48] ibennetch commented on #79
I fixed this by adjusting the links to the long form URL which seems to be pretty stable.

[2018-11-19 17:01] lem9 commented on #79
Thanks Michal and Isaac.

[2019-02-20 04:53] HarshCic commented on #75
Can I take this?

[2019-02-20 07:01] williamdes commented on #75
@HarshCic yes :)

[2019-03-10 14:36] williamdes opened #84 "Hashes do not match files (CDN CACHE ?)"
## Run
[code]

### Check hashes
[code]

### Output
#### SHA1 (Réussi=success, Échec=failed)
[code]
#### SHA256 (Réussi=success, Échec=failed)
[code]

#### CURL caches
[code]
All modified files before today are not okay.

[2019-03-10 14:43] nijel commented on #84
The sha* files are not purged from the cdn cache...

[2019-03-10 14:47] #84 closed

[2019-04-16 14:29] #78 closed

[2019-06-23 08:59] mauriciofauth opened #89 "Update About page information"
The [About](https://www.phpmyadmin.net/about/) page needs to be updated, because the _Milestone releases_ section is outdated.

Template file: [`pmaweb/templates/about.html`](https://github.com/phpmyadmin/website/blob/master/pmaweb/templates/about.html)

[2019-06-24 09:08] Chebarbudo opened #90 "phpMyAdmin 2.2.0 wrong file name"
### Describe the bug

In page https://www.phpmyadmin.net/files/2.2.0/, the file to download is named "phpMyAdmin-2.1.0-php.zip" instead of "phpMyAdmin-2.2.0-php.zip". When unziped, the folder name is "phpMyAdmin-2.2.0".

### To Reproduce

Navigate to https://www.phpmyadmin.net/files/2.2.0/ and see.

### Expected behavior

The zip file should be named "phpMyAdmin-2.2.0-php.zip".

### Screenshots

!

[2019-06-24 12:56] williamdes commented on #90
![image](https://user-images.githubusercontent.com/7784660/60020388-37f87e80-9690-11e9-9de4-a21be9a22d4e.png)
Also on https://www.phpmyadmin.net/files/

[2019-07-01 21:40] #75 closed

[2019-07-01 21:40] #76 closed

[2019-08-11 13:23] gurrrung opened #92 "New website UI"
The website of phpMyAdmin sadly looks very outdated when we compare it with those others Open Source projects like Sequel Pro. https://www.sequelpro.com/

[2019-12-23 14:42] williamdes commented on #89
@ibennetch could you please update the file ?

[2020-01-02 22:15] ibennetch opened #97 "List newest download first"
With versions 4.9.3 and 5.0.0, the website is showing 4.9.3 first. It should offer the newest download (5.0.0) first.

See also https://github.com/phpmyadmin/scripts/issues/22

[2020-01-14 08:43] OlafvdSpek opened #98 "5.0 not supported"
`Supported versions`

https://www.phpmyadmin.net/downloads/

[2020-01-14 12:44] #98 closed

[2020-01-14 12:44] ibennetch commented on #98
Added 5.0 to the grid, thanks for reporting.

[2020-02-05 00:46] williamdes opened #99 "Broken links"
- all links to Weblate on https://www.phpmyadmin.net/translations/
- commit on https://www.phpmyadmin.net/security/PMASA-2016-36/
- commit on https://www.phpmyadmin.net/security/PMASA-2016-30/

[2020-02-05 00:50] williamdes commented on #99
Please use https://www.npmjs.com/package/broken-link-checker to find them

[2020-02-05 00:52] williamdes commented on #99
@ibennetch could you fix the links on CVEs?

I can not run the tool today but will do it soon to post a complete list here

[2020-02-05 04:18] ibennetch commented on #99
The Weblate report is quite interesting because we're generating a link to, ch_TW and ch_CN for instance, don't immediately seem to exist on Weblate. I'll have to research this further.

The -36 PMASA commits have been fixed ✅, for some reason GitHub wasn't liking the short form.

The -30 ones are the short hash but seem to be working correctly as links for me. I can keep this opened to eventually

[2020-02-05 06:52] williamdes commented on #99
Thank you!
I think there is more CVE links with small hashes and as time passes chances of conflicts get bigger
I will make a list to update

[2020-02-23 15:01] williamdes commented on #99
On https://www.phpmyadmin.net/security/PMASA-2016-30/

`https://github.com/phpmyadmin/phpmyadmin/commit/fd8cdd79333e5ab47d395f5f5178faaaf795d39e` is the long format for `https://github.com/phpmyadmin/phpmyadmin/commit/fd8cdd7`

[2020-02-23 19:16] williamdes commented on #99
[report_links.txt](https://github.com/phpmyadmin/website/files/4242204/report_links.txt)

This is a full recursive report
[code]

[2020-02-23 19:19] williamdes commented on #99
[code]

[2020-02-23 19:24] williamdes commented on #99
@ibennetch some links are for versions of phpmyadmin and others are very old broken links
Can you fix them or do you want help ?
I do not have access to edit the website.

[2020-05-01 20:26] williamdes commented on #99
:ping_pong: @ibennetch :)

[2020-06-07 16:54] ibennetch opened #100 "Migrate from deprecated Weblate interface"
The Weblate API [we use](https://docs.weblate.org/en/latest/api.html#get--exports-stats-(string-project)-(string-component)-) is officially deprecated, though not yet removed.

We should migrate to the [new API endpoint](https://docs.weblate.org/en/latest/api.html#get--api-components-(string-project)-(string-component)-statistics-).

The new API uses a [different style response](https://docs.webla

[2020-06-07 19:19] nijel commented on #100
You don't need to hurry with this. The API you use is already deprecated for years and I don't think it will get removed in foreseeable future.

[2020-10-14 10:06] mauriciofauth opened #131 "Upgrade Bootstrap"
The phpMyAdmin website is currently using the Bootstrap v3.3.7. We should upgrade it to the latest version.

[2020-10-14 10:54] Guileas opened #132 "Migrate the website from Python to Rust"
I'm currently working on a new version of the phpMyAdmin website with @williamdes.
Python will be replaced by [Rust](https://www.rust-lang.org/) using [Rocket framework](https://rocket.rs/) but all the UI and HTML will stay the same.
I will fix the issue #131 afterward, you can assign it to me.
This will fix all the current vulnerability issue with the current Django backend

[2020-10-14 10:56] williamdes commented on #132
cc @ibennetch @mauriciofauth

[2020-10-14 10:58] Guileas commented on #131
See [issue #132 ](https://github.com/phpmyadmin/website/issues/132#issue-721355292)

[2020-10-14 11:38] mauriciofauth commented on #132
Why not use PHP for a new version of the website?

[2020-10-14 11:42] mauriciofauth commented on #132
I think if we want to change the language, make much more sense to switch to PHP instead of Rust.

[2020-10-14 11:53] mauriciofauth commented on #131
I'm working on it already. :smiley:

[2020-10-15 11:56] #131 closed

[2020-10-15 13:42] Guileas commented on #132
why not?
Rust is know to be much more fast and code safe than PHP

[2020-10-16 03:59] #89 closed

[2020-10-16 15:51] AdrianoCahete commented on #132
5 cents from outside: Why not a static generator, like [Nuxt](https://nuxtjs.org)?

[2020-10-16 21:27] Guileas commented on #132
I'm personally not interested in using a Node-based technology but Nuxt could be a good choice.
I think Rust is as good as Nuxt (if not better) and will make a great website.
If you don't think so it's ok but the current website need's to be review (python is already in version 3.9 and django in 3.1).
Let me know if you are interested in giving a chance to Rust, I've already forked the project so

[2020-10-16 23:15] AdrianoCahete commented on #132
Although Nuxt is node-based, it generates a HTML/JS/CSS static assets to be hosted in any platform (like the Netlify Free Tier, for example). I really don't know how Rust based website can be hosted or what it needs to run, but I'm not against it at all, neither know how much time/work did you put in that branch.

In parallel, I'm creating a new proposal for UI so you can do this update and we go

[2020-10-17 10:08] Guileas commented on #132
To deploy a Rust website, you just need to use [Cargo](https://doc.rust-lang.org/stable/cargo/) command (Cargo is the Rust package manager) and some Nginx configurations you can also use Docker it's pretty easy.

I'm ok with the UI update I think it's a good idea to redesign it!

Your right, let the team decide

[2020-10-17 14:06] ibennetch commented on #99
I've fixed a few of these. A lot of them seem like false positives.

LinkedIn seems to return the HTTP 999 for some reason but the links are valid.

There's something odd going on with some of the Weblate links that I'm still not sure about.

Some of the old links, such as the fransallen theme link, would require re-releasing an old theme and I'm not sure that's worthwhile.

Several of the rest ar

[2020-10-21 21:53] AdrianoCahete commented on #92
Hey, I got here because of all the problems with Hacktoberfest on Twitter and thinking with me: "Instead of helping some random project because hacktober, why not try to help some project that I use or had used in the past?". After that, I found that issue and #132, and I think that is better to use my time to do this.

First of all, I made a quick logo redesign. See this as a preview/alpha, since

[2020-10-21 22:03] AdrianoCahete commented on #99
LinkedIn returns 999 when the machine who are trying to get the link make more than 5 (IIRC) connections in a small time window,

[2020-10-22 10:06] williamdes commented on #99
Here is an update, removed linkedin and github rate limit errors
[code]

[2020-10-22 13:41] williamdes commented on #92
cc @phpmyadmin/developers
This is excellent work, please have a look

I love the logo !

[2020-10-22 17:14] mauriciofauth commented on #92
Hi, @AdrianoCahete.

Thank you for your excellent work. :fire:

I think you can open a pull request to start the implementation of this redesign.
We'll happily help you with this and we can discuss changes as the progress goes on.

[2020-10-22 17:17] ibennetch commented on #92
I also really love what you've come up with. There are some bits and pieces that I think don't make sense for us, but overall it is great work!

[2020-10-22 18:22] mauriciofauth commented on #132
This is true if you are comparing to PHP 5, but not so much for PHP 7 and PHP 8. I think the performance and safety of the code that you write are more relevant.

If we decide to move away from Python, rewriting in PHP makes more sense since, because, besides the website, everything we build is written mainly in PHP. So using PHP will reduce the friction of using different languages, easing the co

[2020-10-22 18:47] ibennetch commented on #92
I also really like the new logo.

I believe the logo is meant to show how phpMyAdmin helps you "sail the turbulent seas" of using MySQL; perhaps @lem9 or @nijel remember more details because I'm not finding much in the project history to explain this and it would be a neat thing to add a note to our web page.

[2020-10-22 18:58] ibennetch commented on #132
I think personally Nuxt is the least desirable option that was presented; continuing with Python, switching to PHP, and switching to Rust are roughly in my order of preference — but they're all pretty good options. Having people willing to do the work for Rust makes it somewhat desirable, but I like how the Django backend we have now handles a lot of the harder work for us.

[2020-10-22 18:58] ibennetch commented on #92
I just commented with https://github.com/phpmyadmin/website/issues/132#issuecomment-714695721 that I think Nuxt is the least desirable option for me, so I wouldn't invest too much effort in to implementing that at the moment, at least until there's some more discussion.

[2020-10-22 19:49] mauriciofauth commented on #92
@AdrianoCahete For now, we will continue to use Django as the back-end and Bootstrap as the front-end.

[2020-10-22 20:10] AdrianoCahete commented on #92
Ok, I did the fork on repo and saw that you have a lot of things in python, so I'll keep this on Django, but I may remove some (or all) bootstrap styles to make a cleaner and faster version, keep just the things that we use.

[2020-10-23 15:52] OlafvdSpek opened #135 "Book cover gone crazy"
Sometimes the book cover @ https://www.phpmyadmin.net/ is flashing like crazy..

Chrome / Windows 10

[2020-10-23 17:56] mauriciofauth commented on #92
Would you suggest which one?

[2020-10-23 19:12] AdrianoCahete commented on #92
Looks like that the actual is based on the [original php logo](https://www.php.net/download-logos.php), that uses [Handel Gothic](https://www.myfonts.com/fonts/bitstream/handel-gothic/).

On layout proposal, I used [OpenSans](https://fonts.google.com/specimen/Open+Sans#about) (on the footer text), an Open (Apache License v2) typography from Google. I'm using [Inter](https://github.com/rsms/inter)

[2020-10-23 19:36] AdrianoCahete commented on #92
A quick update here: I was updating my branch and did a push to Github. I have GitGuardian on all my repositories, so on push, it warns me that there's a Django key in plaintext on repo. It's was supposed to have it?

[code]

* Supressed the contet because of indexers.

[2020-10-23 20:53] ibennetch commented on #92
Thanks for your concern, but the secret key in pmaweb/settings.py is a placeholder and is not the actual key used in production.

[2020-10-27 01:17] mauriciofauth commented on #92
@AdrianoCahete You can open a draft/WIP pull request, so it counts toward completing the Hacktoberfest.

[2020-10-27 01:30] AdrianoCahete commented on #92
No problem. I don't mind about the Hacktoberfest this year anymore because a lot of low-quality submissions that I saw... :(

But I'll make a WIP PR just to you see the progress. I'll probabily do this tomorrow, with a more "presentable" progress!

[2020-10-27 14:30] ibennetch commented on #135
I've been trying to reproduce this for a few days, but haven't had much luck. Is it a flashing between the image and white, or are the various book covers animating very quickly instead of every 5-10 seconds as intended?

[2020-10-27 14:31] ibennetch commented on #92
By the way, for anyone wishing to work with the current site, https://github.com/ibennetch/phpmyadmin-website-docker may help quickly spin up a local instance.

[2020-10-27 14:44] OlafvdSpek commented on #135
https://www.youtube.com/watch?v=yzW2cqikjqY&feature=youtu.be

[2020-10-27 15:06] ibennetch commented on #135
Thank you, that definitely helps me see what I should be looking in to. Did you happen to ever notice this happening before about two weeks ago (which is approximately when we upgraded Bootstrap used on the site).

[2020-10-27 15:13] OlafvdSpek commented on #135
Don't think so.

[2020-10-27 21:52] williamdes commented on #135
seems like a broken browser transition, could you paste your [useragent](https://www.whatismybrowser.com/detect/what-is-my-user-agent) ?

[2020-10-27 21:54] OlafvdSpek commented on #135
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.111 Safari/537.36

[2020-10-29 13:16] ibennetch opened #138 "Supported MariaDB versions"
The downloads page currently lists compatible MySQL versions, we should start to list the compatible MariaDB versions as well. This information is probably readily available in the documentation requirements section, but should be put in the downloads area as well.

[2020-10-29 16:08] ibennetch commented on #90
I believe I've resolved this in the backend, thanks for the report.

[2020-10-29 16:08] #90 closed

[2020-10-30 22:57] AdrianoCahete commented on #135
Sometimes happens in my Firefox too, but just when I leave the page opened for a long time.

I maaaaay fix on my PR.

[2020-11-03 23:45] AdrianoCahete commented on #30
It's already handling, just throwing an error for some reason:

https://github.com/phpmyadmin/website/blob/35a9f3f8c2f0eaf8b868dca505af2040f5b342d9/pmaweb/urls.py#L41

https://github.com/phpmyadmin/website/blob/35a9f3f8c2f0eaf8b868dca505af2040f5b342d9/pmaweb/views.py#L86-L92

Trying to fix on my PR, but since I never had worked with Python for web before, I may not fix it.

[2020-11-16 18:06] ibennetch opened #139 "Themes without screenshots should not show the thumbnail"
On the themes page, most themes have a screenshot available. If it doesn't, the website doesn't handle it very gracefully:

<img width="1183" alt="image" src="https://user-images.githubusercontent.com/1443710/99290503-5ecace00-280c-11eb-8888-24731b366b1d.png">

There is a corresponding error logged, looking for static/images/themes/darkmod-neo.png.

We should first check whether the screenshot exi

[2020-12-20 16:42] #97 closed

[2020-12-21 08:34] OlafvdSpek opened #141 "Menu icon missing on mobile site"
![phpMyAdmin](https://user-images.githubusercontent.com/2218936/102756120-ab577b00-436f-11eb-8ae0-afb3e62f8321.png)

[2021-02-11 23:20] OlafvdSpek opened #143 "No CSS?"
https://planet.phpmyadmin.net/

planet.phpmyadmin.net/:13 GET https://www.phpmyadmin.net/static/bootstrap/css/bootstrap.css net::ERR_ABORTED 404
planet.phpmyadmin.net/:14 GET https://www.phpmyadmin.net/static/bootstrap/css/bootstrap-theme.css net::ERR_ABORTED 404

[2021-04-08 01:03] williamdes opened #147 "Add security.txt"
https://securitytxt.org/

[2021-04-21 09:26] matzex opened #148 "phpMyAdmin Demos are broken"
Hello,

currently the linked demo versions of the phpMyAdmin Software on this [website ](https://www.phpmyadmin.net/try/) are all broken. The error message is the same for all versions:

Error during session start; please check your PHP and/or webserver log file and configure your PHP installation properly. Also ensure that cookies are enabled in your browser.
session_write_close(): write failed:

[2021-04-21 10:17] ibennetch commented on #148
Thanks for your report. I'll be busy this morning but we will check this out when we can.

[2021-04-22 13:13] williamdes commented on #147
Already, exists

[2021-04-22 13:19] #147 closed

[2021-04-23 00:12] williamdes commented on #148
Should be fixed now :)

[2021-04-23 00:12] #148 closed

[2021-04-23 22:35] #141 closed

[2022-02-26 16:05] winstonDeGreef opened #150 "Misaligned close button in modal on downloads page"
In the modal that opens on the phpymadmin download page when clicking on a download link, the close button is misaligned.

browser info: `Version 98.0.4758.102 (Official Build) (64-bit)` running on ubuntu

![Frame 1](https://user-images.githubusercontent.com/71840364/155850117-da4bdf4e-c80d-41e6-b066-dd73b5feaa75.png)

[2022-02-28 00:14] williamdes commented on #150
Hi @mauriciofauth
Could you please have a look ?

[2022-02-28 02:06] mauriciofauth commented on #150
Sure thing.

[2022-03-09 00:13] ibennetch opened #151 "CDN API update"
CDN77 has migrated to a new API, version 3, and we need to update pmaweb/cdn.py to upgrade. The daily snapshots and website updates are affected by this.

https://client.cdn77.com/support/api-docs/v3/migration-guide

[2022-03-30 16:54] williamdes commented on #151
Hi @ibennetch
I implemented it and tested it with my account.
Could you generate a token for phpMyAdmin and fill the `settings.py` file ?
I hope everything will work like on my tests

[2022-03-30 17:49] ibennetch commented on #151
Yeah, the token is already present so this seems to just work since your changes. Nice work, thank you!

[2022-03-31 00:35] williamdes commented on #151
Thank you !
There was a typo in the config file, but it seems that the files CDN Id `FILES_CDN_ID` is wrong because it outputs a 404. Could you check ?
[code]

[2022-03-31 00:48] ibennetch commented on #151
Yes, I think the ID changed silently but fixed it shortly after you pushed your work. I think it's been fine since then and haven't seen any errors since I corrected it. Please let me know if you see ongoing failures.

[2022-03-31 00:57] williamdes commented on #151
We where probably in sync, I changed the Id on the server and posted the edit to my message above just now ^^

[2022-03-31 00:59] williamdes commented on #151
So there is only the git trick to do on the server, the website is updating snapshots correctly now

[2022-10-21 00:48] vimalMK commented on #150
Hi @williamdes  @MauricioFauth  Can I have a look at it?

[2022-10-21 06:27] vimalMK commented on #139
I can have a look at this, if its still need to be fixed?

[2022-10-21 10:26] ibennetch commented on #150
@vimalMK yes, that would be great.

[2022-10-21 10:35] ibennetch commented on #150
@vimalMK that styling and spacing looks good. I think a close button belongs on the right side, though, could you move it as part of your fix?

[2022-10-21 10:39] ibennetch commented on #139
@vimalMK yes, this still needs to be improved.

[2022-10-21 10:51] winstonDeGreef commented on #150
That button feels as if it is too close to the top. (Also, float: right or float: lef in css makes the browser handle the flow of text around the element)

[2022-10-21 18:01] vimalMK commented on #150
I should be able to do that.

Using float make sense and might as well use some padding around button for position.

Thanks you. Will get to the PR soon.

[2022-10-21 18:03] vimalMK commented on #139
@ibennetch Cool! will do some insights on this. Thank you. :)

[2022-10-21 18:52] vimalMK commented on #150
PR added with changes #152

[2022-10-21 19:42] vimalMK commented on #139
@ibennetch  Need some clarification. is the master branch the latest code base for the website https://www.phpmyadmin.net/

Because I see some difference in the UI when trying to run locally. please advise.

[2022-10-23 13:46] ibennetch commented on #139
Yes, it should be running from master; what differences are you seeing?

[2022-10-26 03:39] vimalMK commented on #139
@ibennetch

My local:
![image](https://user-images.githubusercontent.com/35750792/197928512-90ab96c1-f202-44f9-92aa-6c838a79cb76.png)
![image](https://user-images.githubusercontent.com/35750792/197928994-a3469e48-51bc-43f8-9a1a-ea913a379d95.png)

Original website:
![image](https://user-images.githubusercontent.com/35750792/197928549-91351cd0-bb05-42d1-84dd-44e560c42ec6.png)
![image](https://user-i

[2022-10-26 07:51] vimalMK commented on #132
The topic caught my interest. When the works starts please pull me in. sounds interesting.

[2022-10-26 08:06] williamdes commented on #132
I think we should reset the subject, two years later Rust is getting everywhere and performance+consumption is perfect.
The learning curve is not easy but once it works you have nothing more to do (kind of)

Who votes in favor of dropping the Python website for the same website in Rust?
To be clear this does not mean any UI change. I am unable to fix anything on this website because it uses Python

[2022-10-27 00:55] vimalMK commented on #139
PR #153 . Happy coding.

[2022-10-27 16:49] vimalMK commented on #132
+1 👍

Probably I am early to vote for this. But it will be a good to move to Rust.

Learning curve is expected. I think its Rocket Framework https://rocket.rs/

[2022-11-02 02:32] vimalMK commented on #30
@nijel @williamdes Can you work on this, if its still required?

[2022-11-02 09:38] williamdes commented on #30
Sure, do you know enough python to finish #136?

[2022-11-02 18:30] vimalMK commented on #30
@williamdes Thank you and yes I can finish #136 .

[2022-11-03 06:35] vimalMK commented on #30
@williamdes can you please confirm/share what the production settings.py looks like?

the path looks will be:       phpmyadmin-website\pmaweb\settings.py